<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form [formGroup] = "ManualModeForm" (ngSubmit) = "onManualSubmit(ManualModeForm.value)" class="ui form">
                <div class="form-group">
                  <label for="currentValue">Enter Current Value</label>
                  <input type="number" formControlName = "currentValue" class="form-control" id="currentValue" aria-describedby="currentHelp" placeholder="Enter Current Value">
                  <small id="currentHelp" class="form-text text-muted">Current value should be between 4mA and 20mA</small>
                </div>
                <div class="form-group">
                  <label for="relayState">Select Relay State</label>
                  <div class="form-check">
                    <input class="form-check-input" formControlName="relayState" type="radio" name="relayState" value="ON" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      ON
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" formControlName="relayState" type="radio" name="relayState" value="OFF" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      OFF
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
