<div class="row">
  <br /><br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card" style="padding: 5%; background-color:brown">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-10 text-center">
              <h1>Click on the Connect Button</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
