<div class="contaner-fluid">
  <div class="card border-secondary border-2" style="padding : 3%;">
    <div class="row ">
      <div class="col-md-8 col-sm-12">
        <canvas id="myChart" style="width : 200px; height : 200px">{{chart}}</canvas>
      </div>
      <div class="col-md-4 justify-content-center text-center">
        <div class="card border-dark border-2 mb-3 contaner-fluid">
          <div class="card-body" style="color: black;">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <p>Current: {{ldrData.current}} mA</p>
                <p>Lux: {{ldrData.lux}} lumen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="contaner-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <canvas id="myChart" width="200px" height="200 px">{{chart}}</canvas>
        </div>
        <div class="col-md-4 text-center">
            <p>Current: {{ldrData.current}}</p>
            <p>Lux: {{ldrData.lux}}</p>
        </div>
    </div>
</div>-->
