<div class="contaner-fluid">
    <div class="row ">
      <div class="col-md-9 h-75 w-75" style="border-radius: 12px solid black">
        <canvas id="myChart" >{{chart}}</canvas>
      </div>
      <div class="col-md-3 justify-content-center text-center">
        <div class="card border-primary w-75 ml-5 mt-5 contaner-fluid">
          <div class="card-body" style="color: black;">
            
                  <p>Current: {{ldrData.current}} mA</p>
                  <p>Lux: {{ldrData.lux}} lumen</p>
                
          </div>
        </div>
      </div>
    </div>

</div>



<!--<div class="contaner-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <canvas id="myChart" width="200px" height="200 px">{{chart}}</canvas>
        </div>
        <div class="col-md-4 text-center">
            <p>Current: {{ldrData.current}}</p>
            <p>Lux: {{ldrData.lux}}</p>
        </div>
    </div>
</div>-->
