<div class="card border-secondary border-2" style="width: 100%;">
  <div class="card-body" style="color: black;">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form [formGroup]="ThresholdForm" (ngSubmit)="onThresholdSumbit(ThresholdForm.value)" class="ui form">
            <div class="form-group">
              <label for="lowerThreshold">Lower Threshold</label>
              <input type="number" formControlName="lowerThreshold" class="form-control" id="lowerThreshold" aria-describedby="lowerHelp" placeholder="Enter Lower Threshold">
              <small id="lowerHelp" class="form-text text-muted">Lower threshold should not be less than x lux</small>
              <div *ngIf="submitted && f['lowerThreshold'].errors" class="text-danger">
                <div *ngIf="f['lowerThreshold'].errors['required']"> Lower Threshold is Required</div>
                <div *ngIf="!f['lowerThreshold'].errors['required']">
                  <div *ngIf="f['lowerThreshold'].errors['invalidLowerValue']">Value must be greater than 10 and less than 200 lumen</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="upperThreshold">Upper Threshold</label>
              <input type="number" formControlName="upperThreshold" class="form-control" id="upperThreshold" aria-describedby="upperHelp" placeholder="Enter Upper Threshold">
              <small id="upperHelp" class="form-text text-muted">Upper threshold should not be greater than x lux</small>
              <div *ngIf="submitted && f['upperThreshold'].errors" class="text-danger">
                <div *ngIf="f['upperThreshold'].errors['required']"> Upper Threshold is Required</div>
                <div *ngIf="!f['upperThreshold'].errors['required']">
                  <div *ngIf="f['upperThreshold'].errors['invalidUpperValue']">Value must be greater than 50 and less than 250 lumen</div>
                  <div *ngIf="f['upperThreshold'].errors['lowerUpperCondition']">Lower Threshold must be less than Upper Threshold</div>
                </div>
              </div>
            </div>
          </form>

          <div class="row justify-content-center mt-3">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary" (click)="onThresholdSumbit(ThresholdForm.value)">Submit</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <p><br /></p>
          <h5>Lower Threshold: {{lightThreshold.lowerThreshold}} lumen</h5>
          <h5>Upper Threshold: {{lightThreshold.upperThreshold}} lumen</h5>
          <p><br /></p>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-primary mx-1 my-1" data-bs-toggle="modal" data-bs-target="#saveModal">
                Save
              </button>
              <!--<button type="submit" class="btn btn-primary" (click)="onSaveThresholdSubmit()">Save</button>-->
            </div>
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-primary mx-1 my-1" data-bs-toggle="modal" data-bs-target="#resetModal">
                Reset
              </button>
              <!--<button type="submit" class="btn btn-primary" (click)="onResetThresholdSubmit()">Reset</button>-->
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="saveModalLabel">Save Threshold</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to save the Threshold Values ? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveModalButton" data-bs-dismiss="modal" (click)="onSaveThresholdSubmit()">Save Threshold</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetModal" tabindex="-1" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="resetModalLabel">Reset Threshold</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to reset the Threshold Values ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="resetModalButton" data-bs-dismiss="modal" (click)="onResetThresholdSubmit()">Reset Threshold</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup] = "ThresholdForm" (ngSubmit)="onThresholdSumbit(ThresholdForm.value)" class="ui form">
                <div class="form-group">
                  <label for="lowerThreshold">Lower Threshold</label>
                  <input type="number" formControlName="lowerThreshold" class="form-control" id="lowerThreshold" aria-describedby="lowerHelp" placeholder="Enter Lower Threshold">
                  <small id="lowerHelp" class="form-text text-muted">Lower threshold should not be less than x lux</small>
                </div>
                <div class="form-group">
                  <label for="upperThreshold">Upper Threshold</label>
                  <input type="number" formControlName="upperThreshold" class="form-control" id="upperThreshold"  aria-describedby="upperHelp" placeholder="Enter Upper Threshold">
                  <small id="upperHelp" class="form-text text-muted">Upper threshold should not be greater than x lux</small>
                </div>

              </form>

              <div class="row justify-content-center mt-3">
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" (click)="onThresholdSumbit(ThresholdForm.value)">Submit</button>
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary" (click)="onSaveThresholdSubmit()">Save</button>
              </div>
                  <div class="col-md-4">
                      <button type="submit" class="btn btn-primary" (click)="onResetThresholdSubmit()">Reset</button>
                  </div>
              </div>
        </div>
        <div class="col-md-6 text-center">
          <p>Lower Threshold: {{lightThreshold.lowerThreshold}}</p>
          <p>Upper Threshold: {{lightThreshold.upperThreshold}}</p>
      </div>
    </div>

</div>-->
