<header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand">
            <span class="ms-2">LDR Sensor</span></p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a *ngIf = "!isConnected" class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
            <!-- <button  *ngIf = "!isConnected" type="button" class="btn btn-primary mx-1 my-1" (click)="onConnectButtonClick()">
                Connect</button> -->
            <button  *ngIf="isConnected" type="button" class="btn btn-primary mx-1 my-1" (click)="onManualButtonClick()">
                Manual</button>
            <button *ngIf="isConnected"  type="button" class="btn btn-primary mx-1 my-1" (click)="onAutomaticButtonClick()">
                Automatic</button>
            <button *ngIf="isConnected" type="button" class="btn mx-1 my-1 btn-danger" data-bs-toggle="modal" data-bs-target="#disconnectModal">
                Disconnect</button>
            </div>
        </div>
    </div>
</nav>
</header>


<!-- modal -->
<div class="modal fade" id="disconnectModal" tabindex="-1" aria-labelledby="disconnectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="disconnectModalLabel">Disconnect</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to disconnect ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" id="disconnectModalButton" data-bs-dismiss="modal" (click)="onDisconnectButtonClick()">Yes</button>
        </div>
      </div>
    </div>
  </div>
