<header>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="#" alt="" width="40" height="40" class="d-inline-block align-text-top"><span class="ms-2">LDR Sensor</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
            <button  type="button" class="btn btn-primary mx-1 my-1">
                Connect</button>
            <button  type="button" class="btn btn-primary mx-1 my-1">
                Manual</button>
            <button  type="button" class="btn btn-primary mx-1 my-1">
                Automatic</button>
            <button  type="button" class="btn btn-primary mx-1 my-1">
                Disconnect</button>
            </div>
        </div>
    </div>
</nav>
</header>

  
